
/* 		font-family: 'Roboto', sans-serif;
		font-family: 'Great Vibes', cursive; */

body{
background-color: #ffc87c;
}

.menu{
	position:absolute;	
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size:14px;
	color: #7F7464;	
	margin-left:88%;
	display:none;
}

.menu ul{
	list-style:none;	
}

.menu ul li{
	display:inline;
	padding-left:20px;
}


.titlecard{	
	position:absolute;
	width: 50%;
	margin-left:25%;
	margin-right:25%;
	margin-top:15%;
	text-align: center;	
}

.titlecard p{
	font-family: 'Great Vibes', cursive;
	font-size:36px;
	color: #7F7464;
	margin-top:-5px;
}

#sartre{
	font-family: 'Great Vibes', cursive;
	font-size:66px;
	color: #7F7464;
}

#vr{
	font-family: 'Roboto', sans-serif;
	font-size:56px;
	font-weight:bold;
	letter-spacing:-5px;
	color: #7F7464;	
}

.projectby{
	position:absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size:14px;
	line-height:10px;
	color: #7F7464;
	width: 50%;
	margin-left:25%;
	margin-right:25%;
	margin-top:44%;
	text-align: center;	
}

.buttons{
position:absolute;
width:20%;
margin-left:40%;
margin-top:25%;
text-align:center;

}

.button {
    background-color: #ffc87c;
    border: 1px solid;
	border-color:#7F7464;
    color: #7F7464;
    padding: 25px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 50%;
}
